#history{
    background-color:white;
    position:fixed;
    top:5%;
    bottom:5%;
    left:3%;
    right:3%;
    visibility:hidden;
    border-radius:20px;
    border:5px solid black;
    box-shadow:0 0 0 10px white;
}

#fullHistory{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    margin:0 30px;
}

#historySessions{
    align-self:center;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    overflow-y:scroll;
    height:450px;

    .pastSession{
        border:4px solid black;
        border-radius:0;
        margin:12px;
        line-height:5px;
        width:325px;
        height:135px;
        padding:0px;
        padding-bottom:20px;
        background-position:70px -1px;
        background-size:82.5%;
        background-repeat:no-repeat;
    
        &:hover{
            border-color:rgb(255, 203, 219);
            cursor:pointer;
        }
        &:active{
            background-color:rgb(255, 242, 245);
        }
    }

    .sessionName{
        margin-left:16px;
        font-size:20px;
        margin-bottom:0;
    }

    .graph{
        margin-bottom:15px;
    }

    .pastSessionContent{
        width:60%;
    }

    .stats{
        display:flex;
        justify-content:space-evenly;
        font-size:15px;
        font-weight:bold;
    }

    .timeStat{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
    }
}

#sessionHistory{
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap:50px;
    visibility:hidden;
    position:fixed;
    margin:10px 50px;
    line-height:240%;
    font-size:25px;
    font-weight:bold;
}

#historyName, #historyTitle{
    font-size:60px;
    margin-top:50px;
    margin-bottom:10px;
    color:black;
}

#historyCategory{
    font-size:30px;
    margin-bottom:-10px;
}

#historyGraph{
    width:100%;
    margin-bottom:0px;

    .graph{
        margin-bottom:0;
        margin-left:0;
    }

    .stats{
        display:flex;
        justify-content:space-around;
        font-size:25px;
        margin-left:-20px;
    }

    .timeStat{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
    }
}

#historyTiredness{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin:6px 100px 3px 70px;

    div{
        width:10px;
        height:10px;
        border-width:4px;
        border-radius:50%;
        border-style:solid;

        &[data-checked="true"]{
            width:35px;
            height:35px;
            border-width:5px;
            box-shadow:0 0 0 5px white inset;
        }
    }
}

#historyTiredness1{
    border-color:rgb(116, 119, 179);
    background-color:rgb(116, 119, 179);
}
#historyTiredness2{
    border-color:rgb(138, 115, 168);
    background-color:rgb(138, 115, 168);
}
#historyTiredness3{
    border-color:rgb(160, 112, 156);
    background-color:rgb(160, 112, 156);
}
#historyTiredness4{
    border-color:rgb(182, 108, 145);
    background-color:rgb(182, 108, 145);
}
#historyTiredness5{
    border-color:rgb(204, 104, 134);
    background-color:rgb(204, 104, 134);
}

.smallText{
    margin-bottom:3px;
    font-size:14px;
    height:30px;
}

#deleteButton{
    border-width:5px;
    border-style:solid;
    box-shadow:0 0 0 3px inset white;
    color:white;
    font-size:20px;
    padding:15px;
    width:215px;
    margin-top:30px;

    &[data-status="black"]{
        border-color:black;
        background-color:black;
        #deleteSession{
            visibility:inherit;
            position:unset;
        }
        #confirmDelete{
            visibility:hidden;
            position:absolute;
        }
    }

    &[data-status="red"]{
        border-color:rgb(204, 104, 134);
        background-color:rgb(204, 104, 134);
        #deleteSession{
            visibility:hidden;
            position:absolute;
        }
        #confirmDelete{
            visibility:inherit;
            position:unset;
        }
    }
}

#cancelDelete{
    border:5px solid rgb(88, 88, 88);
    background-color:rgb(88, 88, 88);
    box-shadow:0 0 0 3px inset white;
    color:white;
    font-size:20px;
    padding:15px;
    width:215px;
    margin-top:30px;
    position:absolute;
    visibility:hidden;
}

.backButton{
    position:absolute;
    top:-5px;
    left:-30px;
    font-size:40px;
    border:none;
    background:none;

    span{
        position:relative;
        top:-7px;
        font-size:20px;
        font-weight:bold;
    }

    &:active{
        color:grey;
    }
}

.historyRow{
    display:grid;
    grid-template-columns:4fr 1fr 1fr;
    gap:0;
}

.historyRowMain{
    display:grid;
    grid-template-columns:1fr 0.5fr 1fr 1fr;
    border:6px solid black;
    padding:0 15px;
}

.historyType{
    text-align:left;
}

.historySpeed{
    text-align:right;
}

.historyUnits{
    font-size:20px;
    padding-left:3px;
}

.historyTime{
    display:flex;
    flex-direction:row;
    justify-content:end;
}

.historyExtra1, .historyExtra2{
    border:6px solid transparent;
    text-align:center;
}

#historyIncline{
    border-color:rgb(116, 119, 179);
    color:rgb(116, 119, 179);
}

#historyHeart{
    border-color:rgb(204, 104, 134);
    color:rgb(204, 104, 134);
}

#historyLegs{
    display:flex;
    flex-direction:column;
    gap:15px;
    height:300px;
    overflow-y:auto;
}

@media only screen and (max-width:800){

    #history{
        left:5%;
        right:5%;
        border-radius:30px;
    }

    #historyTitle{
        font-size:65px;
        margin:12px;
    }

    #historySessions{
        flex-direction:column;
        flex-wrap:nowrap;
        height:1035px;
    
        .pastSession{
            border-width:5px;
            margin:20px;
            line-height:20px;
            width:560px;
            padding-bottom:30px;
            background-position:215px -1px;
            background-size:64.5%;
        }
    
        .sessionName{
            margin-left:25px;
            font-size:35px;
            margin-bottom:30px;
            margin-top:30px;
        }
    
        .graph{
            margin-left:50px;
            scale:1.2;
        }
    
        .pastSessionContent{
            width:60%;
        }
    
        .stats{
            font-size:25px;
            margin-left:10px;
        }
    }

    #sessionHistory{
        display:flex;
        flex-direction:column;
        width:565px;
        line-height:240%;
    }
    
    #historyName{
        font-size:60px;
        margin-top:90px;
        margin-bottom:20px;
    }
    
    #historyCategory{
        font-size:35px;
        margin-bottom:0;
    }
    
    #historyGraph{
        scale:1.1;
        margin-bottom:0px;
        margin-left:30px;

        .graph{
            margin-right:40px;
        }
    
        .stats{
            font-size:30px;
        }
    }

    #historyTiredness{
        margin:20px 0 0 0;
        padding:0 50px;
        align-self:center;
    
        div{
            width:15px;
            height:15px;
            border-width:4px;
    
            &[data-checked="true"]{
                width:50px;
                height:50px;
                border-width:6px;
                box-shadow:0 0 0 7px white inset;
            }
        }
    }

    .smallText{
        position:relative;
        top:400px;
        margin-bottom:15px;
        font-size:24px;
    }
    
    #deleteButton{
        position:relative;
        top:400px;
        border-width:8px;
        box-shadow:0 0 0 5px inset white;
        font-size:35px;
        padding:18px 30px;
    
        &:active{
            border-width:8px;
        }
    }
    
    .backButton{
        top:8px;
        left:-20px;
        font-size:50px;
        span{
            font-size:30px;
        }
    }

    #sessionHistoryRight{
        margin-top:-230px;
        display:flex;
        flex-direction:column;
        align-items:center;

        h3{
            margin:30px 0 20px 0;
            align-self:flex-start;
        }
    }

    .historyRow{
        font-size:35px;
        width:600px;
    }
    
    .historyRowMain{
        grid-template-columns:1.3fr 0.5fr 1fr 1fr;
    }
    
    .historyUnits{
        font-size:25px;
    }
}