#showFullHistory{
    text-decoration:underline;
    &:hover{
        cursor:pointer;
    }
    &:active{
        color:rgb(255, 203, 219);
    }
}

#history{
    background-color:white;
    position:fixed;
    top:5%;
    bottom:5%;
    left:3%;
    right:3%;
    visibility:hidden;
    border-radius:20px;
    border:5px solid black;
    box-shadow:0 0 0 10px white;
}

#historyTitle{
    margin-top:-20px;
    font-size:40px;
    padding:20px 0 10px;
    margin:0;
}

#fullHistory{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    margin:0 30px;
}

#historySessions{
    align-self:center;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    overflow-y:scroll;
    height:450px;

    .pastSession{
        border:4px solid black;
        border-radius:0;
        margin:12px;
        line-height:5px;
        width:325px;
        padding:0px;
        padding-bottom:20px;
        background-position:70px -1px;
        background-size:82.5%;
        background-repeat:no-repeat;
    
        &:hover{
            border-color:rgb(255, 203, 219);
            cursor:pointer;
        }
        &:active{
            background-color:rgb(255, 242, 245);
        }
    }

    .sessionName{
        margin-left:16px;
        font-size:20px;
        margin-bottom:0;
    }

    .graph{
        margin-bottom:15px;
    }

    .pastSessionContent{
        width:60%;
    }

    .stats{
        display:flex;
        justify-content:space-evenly;
        font-size:15px;
        font-weight:bold;
    }

    .timeStat{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
    }
}

#sessionHistory{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:50px;
    visibility:hidden;
    position:fixed;
    margin:10px 50px;
    line-height:240%;
    font-size:25px;
    font-weight:bold;
}

#historyName{
    font-size:60px;
    margin-top:50px;
    margin-bottom:10px;
    color:black;
}

#historyCategory{
    font-size:35px;
    margin-bottom:30px;
}

#historyGraph{
    width:100%;
    margin-bottom:0px;

    .graph{
        margin-bottom:0;
        margin-left:0;
    }

    .stats{
        display:flex;
        justify-content:space-around;
        font-size:30px;
        margin-left:-20px;
    }

    .timeStat{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
    }
}

.backButton{
    position:absolute;
    top:10px;
    left:-30px;
    font-size:18px;
    font-weight:bold;
    border:none;
    background:none;
    text-decoration:underline;

    &:hover{
        cursor:pointer;
    }

    &:active{
        color:grey;
    }
}

.historyRow{
    // display:flex;
    // flex-direction:row;
    // flex-wrap:nowrap;
    // justify-content:space-around;

    display:grid;
    grid-template-columns:4fr 1fr 1fr;
    gap:0;
}

.historyRowMain{
    display:grid;
    grid-template-columns:1fr 0.5fr 1fr 1fr;
    // width:60%;
    border:6px solid black;
    padding:0 15px;
}

.historyType{
    text-align:left;
}

.historySpeed{
    text-align:right;
}

.historyUnits{
    font-size:20px;
    padding-left:3px;
}

.historyTime{
    display:flex;
    flex-direction:row;
    justify-content:end;
}

.historyExtra1, .historyExtra2{
    border:6px solid transparent;
    // width:20%;
    text-align:center;
}

#historyIncline{
    border-color:rgb(116, 119, 179);
    color:rgb(116, 119, 179);
}

#historyHeart{
    border-color:rgb(204, 104, 134);
    color:rgb(204, 104, 134);
}

#historyLegs{
    display:flex;
    flex-direction:column;
    gap:15px;
    height:400px;
    overflow-y:auto;
}

.smallText{
    margin-bottom:12px;
    font-size:18px;
    height:30px;
}

#deleteButton{
    border:5px solid black;
    background-color:black;
    box-shadow:0 0 0 3px inset white;
    color:white;
    font-size:20px;
    padding:15px 35px;
    margin-top:30px;

    &:hover{
        cursor:pointer;
    }
    &:active{
        background-color:rgb(204, 104, 134);
        border:5px solid rgb(204, 104, 134);
    }
}