body{
    background-color: aliceblue;
    white-space:nowrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overscroll-behavior-x:none;
}

header{
    position:fixed;
    display:flex;
    justify-content:center;
    width:100%;
    top:50px;
}

#centreButton{
    position:fixed;
    display:flex;
    justify-content:center;
    width:100%;
    top:250px;
}

#sessionEntryPopupOpen{
    padding:20px 80px 20px 70px;
    font-size:50px;
    border-radius:30px;
    border:3px solid black;
    background-color:transparent;
    &:hover{
        background-color:rgba(0, 0, 0, 0.071);
        cursor:pointer;
    }
    &:active{
        background-color:rgba(255, 203, 219, 0.674);
    }
}

h1{
    font-size:90px;
}

#sessionEntryPopup{
    background-color:white;
    position:fixed;
    top:5%;
    bottom:5%;
    left:3%;
    right:3%;
    display:grid;
    grid-template-columns: 2fr 3fr;
    visibility:hidden;

    #legForm, #sessionForm{
        line-height:240%;

        ::-webkit-inner-spin-button {
            appearance:none;
        }

        .genericInput{
            border:none;
            border:2px solid white;
            border-bottom: 2px solid black;
            padding:0 10px;     
            border-radius:10px;

            &:focus{
                outline:none;
                border:2px solid white;
                border-bottom: 2px solid rgb(255, 203, 219);
            }
            &:disabled{
                background-color:rgb(240, 240, 240);
            }
        }

        .typeInput{
            width:100px;
        }
    
        .legTimeM, .legTimeS{
            width:50%;
        }

        .timeInput{
            display:flex;
            width:30%;
        }
        
        .legSpeed{
            width:10%;
        }

        .legSpeed, .legTimeM{
            text-align: right;
        }

        .legIncline, .legHeart{
            text-align: right;
            width:10%;
        }
    }
}

.closeButton{
    position:absolute;
    top:10px;
    right:10px;
    font-size:20px;
}

.legEntryRow{
    display:flex;
    gap:10px;
}

#addLegButton{
    width:100px;
    font-size:larger;
}

#tirednessLabel{
    display:flex;
    justify-content: space-between;
    margin-top:-20px;
    margin-bottom:20px;
}

#tirednessRating{
    display:flex;
    justify-content:space-evenly;
    margin-top:20px;
}

#calorieInput{
    display:flex;
    gap:0;
}

#calories{
    text-align:right;
    width:10%;
}

#legRow0{
    position:absolute;
    visibility:hidden;
}

#legForm{
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    align-items:center;
    height:350px;
    gap:10px;
    padding:0 10px;
}

.units{
    margin-left:-10px;
}

#addSession{
    font-size:20px;
    padding:20px 50px;
    align-self:center;
    margin-top:20px;
}

#legsContainer{
    display:flex;
    flex-direction:column;
}

h3{
    padding-left:15px;
    margin-top:60px;
    font-size:30px;
    margin-bottom:5px;
}

#sessionForm{
    padding:3em;
    width:80%;
}

.sessionDiv{
    display:flex;
    margin:20px 0;
}

#nameInput{
    font-size:40px;
    margin-bottom:20px;
    width:100%;
}

.graph{
    margin:20px;
    display:flex;
    align-items:flex-end;
    flex-direction:row;
    flex-wrap:nowrap;
    border-left:2px solid black;
    border-bottom:2px solid black;
    padding:5px 10px 2px 2px;
}

.bar{
    margin:2px;
    &[data-colour="Sprint"]{
        background-color:orange;
        &:hover{background-color:rgb(255, 214, 138)}
    }
    &[data-colour="Jog"]{
        background-color: green;
        &:hover{background-color:rgb(90, 183, 90)}
    }
    &[data-colour="Walk"]{
        background-color: blue;
        &:hover{background-color:rgb(119, 119, 255)}
    }
    &[data-colour="Rest"]{
        background-color: transparent;
        border:1.5px solid black;
        &:hover{border:1.5px solid rgb(147, 147, 147)}
    }
}

#sessionsRow{
    height:200px;
    position:absolute;
    bottom:0;
    left:0;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:nowrap;
    padding-left:20px;
    padding-bottom:15px;

    .pastSession{
        background-color:white;
        border:3px solid black;
        border-radius:10px;
        margin:20px;
        line-height:5px;
        width:376px;
        padding:0px;
    
        &:hover{
            border-color:rgb(255, 203, 219);
            cursor:pointer;
        }
        &:active{
            background-color:rgb(255, 203, 219);
        }
    }

    .sessionName{
        margin-left:30px;
        font-size:20px;
        margin-bottom:0;
    }

    .graph{
        margin-bottom:15px;
    }

    .pastSessionContent{
        width:60%;
    }

    .stats{
        display:flex;
        justify-content:space-evenly;
        font-size:15px;
    }

    .timeStat{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
    }
}

h3{
    margin-left:20px;
}

#pastSession0{
    position:absolute;
    visibility:hidden;
}

#sessionsRowLabel{
    position:fixed;
    bottom:205px;
    left:50px;
    width:356px;
    display:flex;
    justify-content:space-between;
}

#showFullHistory{
    text-decoration:underline;
    &:hover{
        cursor:pointer;
    }
    &:active{
        color:rgb(255, 203, 219);
    }
}

#history{
    background-color:rgb(179, 179, 179);
    position:fixed;
    top:5%;
    bottom:5%;
    left:3%;
    right:3%;
    visibility:hidden;
}

#historyTitle{
    margin-top:-20px;
    font-size:40px;
    padding:20px 0 10px;
    margin:0;
}

#fullHistory{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

#historySessions{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    overflow-y:scroll;
    height:450px;

    .pastSession{
        background-color:rgb(219, 175, 214);
        border:3px solid black;
        border-radius:0;
        margin:15px;
        line-height:5px;
        width:325px;
        padding:0px;
    
        &:hover{
            border-color:rgb(255, 203, 219);
            cursor:pointer;
        }
        &:active{
            background-color:rgb(255, 203, 219);
        }
    }

    .sessionName{
        margin-left:30px;
        font-size:20px;
        margin-bottom:0;
    }

    .graph{
        margin-bottom:15px;
    }

    .pastSessionContent{
        width:60%;
    }

    .stats{
        display:flex;
        justify-content:space-evenly;
        font-size:15px;
    }

    .timeStat{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
    }
}