body{
    background-color: aliceblue;
}

#legEntryPopup{
    background-color:white;
    position:fixed;
    top:20%;
    bottom:20%;
    left:10%;
    right:10%;
    display:grid;
    grid-template-columns: 1fr 1fr; 

    form{
        padding:5em;
        line-height:180%;
    
        #legTimeM, #legTimeS{
            width: 30%;
            padding:5px;
        }

        #timeInput{
            display:flex;
            justify-content: space-between;
            
        }
        
        #legSpeed, #legTime, #legIncline, #legHeart{
            padding:5px;
            // width:10em;
            display:flex;   
            flex-grow:1;
        }    
        select{
            padding:5px;
            display:flex;
            flex-grow:1;
        }
        // .labelDiv{
        //     width:100px;
        //     height:100px;
        //     background-color: red;
        // }
    }
}

#legEntryPopupClose{
    position:absolute;
    top:10px;
    right:10px;
}

.legDiv{
    display: flex;
    justify-content: space-between;
}

label{
    flex-basis:30%;
}