@import 'landing';
@import 'session-entry';
@import 'history';

body{
    white-space:nowrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overscroll-behavior-x:none;
    background-image:url("../images/Webapp Background.png");
    background-size:100%;
    background-position:0px 0px;
    background-attachment:fixed;

    button, select, input[type="radio"]{
        &:hover{
            cursor:pointer;
        }
    }
}

@media only screen and (max-width:800){
    body{
        background-size:cover;
    }
}