body{
    background-color: aliceblue;
}

#legEntryPopup{
    background-color:white;
    position:fixed;
    top:20%;
    bottom:20%;
    left:10%;
    right:10%;
    display:grid;
    grid-template-columns: 3fr 5fr; 

    form{
        padding:3em;
        line-height:280%;

        ::-webkit-inner-spin-button {
            appearance:none;
        }

        .legIncline, .legHeart, .legType{
            width:50%;
            margin:0;
            padding:0.5em;
        }
    
        .legTimeM, .legTimeS{
            width:50%;
            padding:0.5em;
        }

        .timeInput{
            display:flex;
            width:50%;
        }
        
        .legSpeed{
            width:30%;
        }

        .legSpeed, .legTimeM{
            text-align: right;
        }

        .legIncline, .legHeart{
            text-align: center;
        }

        #legForm select{
            padding:5px;
            width:20%;
        }

    }
}

#legEntryPopupClose{
    position:absolute;
    top:10px;
    right:10px;
}

.legEntryRow{
    display:flex;
}

#addLegButton{
    left:50%;
}

.units{
    font-size:small;
}

#tirednessLabel{
    display:flex;
    justify-content: space-between;
    margin-top:-20px;
}

#tirednessRating{
    display:flex;
    justify-content:space-evenly;
}

#calorieInput{
    display:flex;
}

#blankLegRow{
    position:absolute;
    visibility:hidden;
}