header{
    position:fixed;
    display:flex;
    justify-content:center;
    width:100%;
    top:50px;
    color:white;
}

#centreButton{
    position:fixed;
    display:flex;
    justify-content:center;
    width:100%;
    top:250px;
}

#sessionEntryPopupOpen{
    padding:20px 80px 20px 70px;
    font-size:50px;
    border-radius:30px;
    border:3px solid white;
    background-color:transparent;
    color:white;
    &:hover{
        background-color:rgba(0, 0, 0, 0.071);
        cursor:pointer;
    }
    &:active{
        background-color:rgba(255, 203, 219, 0.674);
    }
}

h1{
    font-size:90px;
}

#sessionsRow{
    height:200px;
    position:absolute;
    bottom:0;
    left:0;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:nowrap;
    padding-left:20px;
    padding-bottom:15px;

    .pastSession{
        background-color:white;
        border:3px solid black;
        border-radius:10px;
        box-shadow: 0 0 0 5px white;
        margin:20px;
        line-height:5px;
        width:376px;
        padding:0px;
    
        &:hover{
            border-color:rgb(255, 203, 219);
            cursor:pointer;
        }
        &:active{
            background-color:rgb(255, 203, 219);
        }
    }

    .sessionName{
        margin-left:30px;
        font-size:20px;
        margin-bottom:0;
    }

    .graph{
        margin-bottom:15px;
    }

    .pastSessionContent{
        width:60%;
    }

    .stats{
        display:flex;
        justify-content:space-evenly;
        font-size:15px;
    }

    .timeStat{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
    }
}

#pastSession0{
    position:absolute;
    visibility:hidden;
}

#sessionsRowLabel{
    position:fixed;
    bottom:205px;
    left:50px;
    width:356px;
    display:flex;
    justify-content:space-between;
    color:white;
}

.graph{
    margin:20px;
    display:flex;
    align-items:flex-end;
    flex-direction:row;
    flex-wrap:nowrap;
    border-left:2px solid black;
    border-bottom:2px solid black;
    padding:5px 10px 2px 2px;
}

.bar{
    margin:2px;
    &[data-colour="Sprint"]{
        background-color:orange;
        &:hover{background-color:rgb(255, 214, 138)}
    }
    &[data-colour="Jog"]{
        background-color: green;
    }
    &[data-colour="Walk"]{
        background-color: blue;
    }
    &[data-colour="Rest"]{
        background-color: transparent;
        border:1.5px solid black;
    }
}

.border{
    border:3px solid white;
}