body{
    background-color: aliceblue;
    white-space:nowrap;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overscroll-behavior-x:none;
}

header{
    position:fixed;
    display:flex;
    justify-content:center;
    width:100%;
    top:50px;
}

#centreButton{
    position:fixed;
    display:flex;
    justify-content:center;
    width:100%;
    top:250px;
}

#sessionEntryPopupOpen{
    padding:20px 80px 20px 70px;
    font-size:50px;
    border-radius:30px;
    border:3px solid black;
    background-color:transparent;
    &:hover{
        background-color:rgba(0, 0, 0, 0.071);
        cursor:pointer;
    }
    &:active{
        background-color:rgba(255, 203, 219, 0.674);
    }
}

h1{
    font-size:90px;
}

#sessionEntryPopup{
    background-color:white;
    position:fixed;
    top:5%;
    bottom:5%;
    left:3%;
    right:3%;
    display:grid;
    column-gap:50px;
    grid-template-columns: 2fr 3fr;
    visibility:hidden;

    #legForm, #sessionForm{
        line-height:240%;

        ::-webkit-inner-spin-button {
            appearance:none;
        }
    }
}

.genericInputSession{
    border:2px solid white;
    border-bottom: 2px solid black;
    padding:0 10px;
    border-radius:10px;

    &:focus{
        outline:none;
        border:2px solid white;
        border-bottom: 2px solid rgb(255, 203, 219);
        background-color:rgb(253, 242, 245);
    }
}

.genericInputLeg{
    font-size:18px;
    border:none;

    &:focus{
        outline:none;
        background-color:rgb(253, 242, 245);
    }
    
    &:disabled{
        background-color:rgb(240, 240, 240);
    }
}


.typeInput{
    width:100px;
}
    
.legTimeM, .legTimeS{
    width:50%;
}

.timeInput{
    display:flex;
    width:30%;
    font-size:14px;
}
        
.legSpeed{
    width:10%;
}

.legSpeed, .legTimeM{
    text-align:right;
}

.legIncline{
    text-align:center;
    width:76px;
}

.inclineContainer{
    display:flex;
    gap:10px;
    border:4px solid rgb(87, 87, 224);
    width:80px;
}

.legHeart{
    text-align:center;
    width:76px;
}

.heartContainer{
    display:flex;
    gap:10px;
    border:4px solid rgb(249, 85, 112);
    width:80px;
}

.bpmUnits{
    font-size:12px;
    font-weight:bold;
    position:relative;
    right:38px;
    top:-13px;
    color:rgb(249, 85, 112);
}

.degreeUnits{
    font-size:26px;
    position:relative;
    right:21px;
    top:-8px;
    color:rgb(87, 87, 224);
}

.kmhUnits{
    font-size:12px;
    margin-left:-8px;
}

.closeButton{
    position:absolute;
    top:10px;
    right:10px;
    font-size:20px;
}

.legEntryRow{
    display:flex;
    grid-template-columns:360px 70px 70px;
}

.legEntryRowMain{
    display:flex;
    gap:10px;
    width:250px;
    justify-content:space-between;
    padding:0 20px;
    border:4px solid black;
}

#addLegButton{
    width:100px;
    font-size:larger;
}

#tirednessLabel{
    display:flex;
    justify-content: space-between;
    margin-top:-20px;
    margin-bottom:20px;
}

#tirednessRating{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    // margin-top:20px;
    height:80px;
}

.tirednessDiv{
    height:60px;
    width:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.tiredness{
    appearance:none;
    width:20px;
    height:20px;
    border-radius:50%;
    border:5px solid black;
    margin:0;
}

.tiredness:checked{
    width:40px;
    height:40px;
    margin-top:0;
    margin:0;
    background-color: purple;
    box-shadow: inset 0 0 0 10px white;
}

#calorieInput{
    display:flex;
    gap:0;
}

#calories{
    text-align:right;
    width:10%;
}

#legRow0{
    position:absolute;
    visibility:hidden;
}

#legForm{
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    align-items:center;
    height:350px;
    gap:10px;
    padding:0 0 0 10px;
}

#addSession{
    font-size:20px;
    padding:20px 50px;
    align-self:center;
    margin-top:20px;
}

#legsContainer{
    display:flex;
    flex-direction:column;
}

h3{
    // padding-left:15px;
    margin-top:60px;
    font-size:30px;
    margin-bottom:5px;
}

#sessionForm{
    padding:3em;
    width:80%;
}

.sessionDiv{
    display:flex;
    margin:20px 0;
}

#nameInput{
    font-size:45px;
    margin-bottom:20px;
    width:100%;
    border:2px solid white;
    border-bottom: 2px solid black;
    padding:0 10px;
    border-radius:10px;

    &:focus{
        outline:none;
        border:2px solid white;
        border-bottom: 2px solid rgb(255, 203, 219);
        background-color:rgb(253, 242, 245);
    }
}

.graph{
    margin:20px;
    display:flex;
    align-items:flex-end;
    flex-direction:row;
    flex-wrap:nowrap;
    border-left:2px solid black;
    border-bottom:2px solid black;
    padding:5px 10px 2px 2px;
}

.bar{
    margin:2px;
    &[data-colour="Sprint"]{
        background-color:orange;
        &:hover{background-color:rgb(255, 214, 138)}
    }
    &[data-colour="Jog"]{
        background-color: green;
        &:hover{background-color:rgb(90, 183, 90)}
    }
    &[data-colour="Walk"]{
        background-color: blue;
        &:hover{background-color:rgb(119, 119, 255)}
    }
    &[data-colour="Rest"]{
        background-color: transparent;
        border:1.5px solid black;
        &:hover{border:1.5px solid rgb(147, 147, 147)}
    }
}

#sessionsRow{
    height:200px;
    position:absolute;
    bottom:0;
    left:0;
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap:nowrap;
    padding-left:20px;
    padding-bottom:15px;

    .pastSession{
        background-color:white;
        border:3px solid black;
        border-radius:10px;
        margin:20px;
        line-height:5px;
        width:376px;
        padding:0px;
    
        &:hover{
            border-color:rgb(255, 203, 219);
            cursor:pointer;
        }
        &:active{
            background-color:rgb(255, 203, 219);
        }
    }

    .sessionName{
        margin-left:30px;
        font-size:20px;
        margin-bottom:0;
    }

    .graph{
        margin-bottom:15px;
    }

    .pastSessionContent{
        width:60%;
    }

    .stats{
        display:flex;
        justify-content:space-evenly;
        font-size:15px;
    }

    .timeStat{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
    }
}

h3{
    margin-left:20px;
}

#pastSession0{
    position:absolute;
    visibility:hidden;
}

#sessionsRowLabel{
    position:fixed;
    bottom:205px;
    left:50px;
    width:356px;
    display:flex;
    justify-content:space-between;
}

#showFullHistory{
    text-decoration:underline;
    &:hover{
        cursor:pointer;
    }
    &:active{
        color:rgb(255, 203, 219);
    }
}

#history{
    background-color:white;
    position:fixed;
    top:5%;
    bottom:5%;
    left:3%;
    right:3%;
    visibility:hidden;
}

#historyTitle{
    margin-top:-20px;
    font-size:40px;
    padding:20px 0 10px;
    margin:0;
}

#fullHistory{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    margin:0 40px;
}

#historySessions{
    padding-left:10px;
    align-self:center;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    overflow-y:scroll;
    height:450px;

    .pastSession{
        border:3px solid black;
        border-radius:0;
        margin:15px;
        line-height:5px;
        width:325px;
        padding:0px;
        padding-bottom:20px;
    
        &:hover{
            border-color:rgb(255, 203, 219);
            cursor:pointer;
        }
        &:active{
            background-color:rgb(255, 203, 219);
        }
    }

    .sessionName{
        margin-left:30px;
        font-size:20px;
        margin-bottom:0;
    }

    .graph{
        margin-bottom:15px;
    }

    .pastSessionContent{
        width:60%;
    }

    .stats{
        display:flex;
        justify-content:space-evenly;
        font-size:15px;
    }

    .timeStat{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
    }
}

#sessionHistory{
    display:grid;
    grid-template-columns: 2fr 3fr;
    column-gap:50px;
    visibility:hidden;
    position:fixed;
    margin:20px 80px;
    line-height:240%;
    font-size:20px;
    font-weight:bold;
}

#historyName{
    font-size:40px;
    margin-top:50px;
    margin-bottom:10px;
}

#historyCategory{
    font-size:30px;
    margin-bottom:30px;
}

// #sessionHistoryLeft{
//     background-color:aliceblue;
// }

// #sessionHistoryRight{
//     background-color:rgb(240, 255, 252);
// }

#historyGraph{
    width:100%;
    margin-bottom:20px;

    .graph{
        margin-bottom:0;
        margin-left:0;
    }

    .stats{
        display:flex;
        justify-content:space-evenly;
        font-size:20px;
    }

    .timeStat{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
    }
}

.backButton{
    position:absolute;
    top:0;
    left:-60px;
    font-size:15px;
    border:none;
    background:none;
    text-decoration:underline;

    &:hover{
        cursor:pointer;
    }

    &:active{
        color:grey;
    }
}

.historyRow{
    // display:flex;
    // flex-direction:row;
    // flex-wrap:nowrap;
    // justify-content:space-around;

    display:grid;
    grid-template-columns:4fr 1fr 1fr;
    gap:0;
}

.historyRowMain{
    display:grid;
    grid-template-columns:1fr 0.5fr 1fr 1fr;
    // width:60%;
    border:6px solid black;
    padding:0 15px;
}

.historyType{
    text-align:left;
}

.historySpeed{
    text-align:right;
}

.historyUnits{
    font-size:17px;
    padding-left:3px;
}

.historyTime{
    display:flex;
    flex-direction:row;
    justify-content:end;
}

.historyExtra1, .historyExtra2{
    border:6px solid transparent;
    // width:20%;
    text-align:center;
}

#historyIncline{
    border-color:rgb(87, 87, 224);
    color:rgb(87, 87, 224);
}

#historyHeart{
    border-color:rgb(249, 85, 112);
    color:rgb(249, 85, 112);
}

#historyLegs{
    display:flex;
    flex-direction:column;
    gap:15px;
    height:400px;
    overflow-y:auto;
}

.smallText{
    font-size:12px;
    height:30px;
}

#deleteButton{
    border:10px solid white;
    background-color:black;
    color:white;
    border-style: double;
    font-size:20px;
    padding:10px 20px;
    margin-top:30px;

    &:hover{
        cursor:pointer;
    }
    &:active{
        background-color:red;
    }
}
