#sessionEntryPopup{
    font-weight:bold;
    background-color:white;
    position:fixed;
    border-radius:20px;
    border:5px solid black;
    box-shadow:0 0 0 10px white;
    top:5%;
    bottom:5%;
    left:3%;
    right:3%;
    display:grid;
    column-gap:0;
    grid-template-columns:1fr 1fr;
    visibility:hidden;
    // Removes the arrow buttons from number inputs. I got this from this post: https://stackoverflow.com/a/4298216
    ::-webkit-inner-spin-button {
        appearance:none;
    }

    *::placeholder{
        color:rgb(138, 141, 155);
    }
}

.genericInputSession{
    border:2px solid white;
    font-size:25px;
    font-weight:bold;
    border-bottom:2px solid black;
    padding:0 10px;
    border-radius:10px;

    &:focus{
        outline:none;
        border:2px solid white;
        border-bottom:2px solid rgb(204, 104, 134);
        background-color:rgb(255, 242, 245);
    }
}

#sessionCategory, #sessionTemplate{
    margin-left:10px;
    margin-bottom:-8px;
}

.genericInputLeg{
    font-size:23px;
    font-weight:bold;
    border:none;

    &:focus{
        outline:none;
        background-color:rgb(255, 242, 245);
    }
    
    &:disabled{
        background-color:rgb(240, 240, 240);
    }
}

.legEntryRow{
    display:flex;
}

.legEntryRowMain{
    display:flex;
    width:300px;
    justify-content:space-between;
    border:4px solid black;
}

.typeInput{
    width:120px;
    padding-left:10px;
}

option{
    font-size:20px;
    background-color:white;
    font-weight:bold;
}
    
.timeInput{
    display:flex;
    width:100px;
    font-size:14px;
}

.legTimeM, .legTimeS{
    width:50%;
}
        
.legSpeed{
    width:30px;
}

.legSpeed, .legTimeM{
    text-align:right;
}

.legIncline{
    text-align:center;
    width:84px;

    // I found out how to target placeholder text from here: https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder

    &::placeholder{
        font-size:18px;
    }
}

.inclineContainer{
    display:flex;
    border:4px solid rgb(116, 119, 179);
    width:88px;
}

.legHeart{
    text-align:center;
    width:84px;

    &::placeholder{
        font-size:18px;
    }
}

.heartContainer{
    display:flex;
    border:4px solid rgb(204, 104, 134);
    width:88px;
}

.bpmUnits{
    font-size:12px;
    position:relative;
    right:28px;
    top:-18px;
    color:rgb(204, 104, 134);
}

.degreeUnits{
    font-size:26px;
    position:relative;
    right:12px;
    top:-13px;
    color:rgb(116, 119, 179);
}

.kmhUnits{
    font-size:12px;
    padding-right:10px;
}

.closeButton{
    position:absolute;
    top:15px;
    right:10px;
    border:none;
    background:none;
    img{
        max-width:50px;
    }
}

#tirednessLabel{
    display:flex;
    justify-content:space-between;
    margin-top:-30px;
    margin-bottom:10px;
}

#tirednessRating{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    height:80px;
}

.tirednessDiv{
    height:60px;
    width:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}

// I followed this guide on styling radio inputs: https://moderncss.dev/pure-css-custom-styled-radio-buttons/
.tiredness{
    appearance:none;
    width:30px;
    height:30px;
    border-radius:50%;
    border:5px solid;
    border-color:black;
    margin:0;
}

.tiredness:checked{
    width:40px;
    height:40px;
    margin-top:0;
    margin:0;
    box-shadow:inset 0 0 0 5px white;
}

#tiredness1{
    border-color:rgb(116, 119, 179);
    &:checked{
        background-color:rgb(116, 119, 179);
    }
}
#tiredness2{
    border-color:rgb(138, 115, 168);
    &:checked{
        background-color:rgb(138, 115, 168);
    }
}
#tiredness3{
    border-color:rgb(160, 112, 156);
    &:checked{
        background-color:rgb(160, 112, 156);
    }
}
#tiredness4{
    border-color:rgb(182, 108, 145);
    &:checked{
        background-color:rgb(182, 108, 145);
    }
}
#tiredness5{
    border-color:rgb(204, 104, 134);
    &:checked{
        background-color:rgb(204, 104, 134);
    }
}

.templateSave{
    width:50%;
    height:45px;
    background-color:white;
    border:none;
    font-size:25px;
    font-weight:bold;

    // I used this article for targeting attributes: https://www.w3schools.com/css/css_attribute_selectors.asp
    &[data-checked="true"]{
        background-color:rgb(204, 104, 134);
        color:white;
    }
}

#templateRadioBoundary{
    width:320px;
    border:5px solid black;
    padding:5px 15px 0px 15px;
    display:flex;
    justify-content:space-evenly;
    gap:5px;
    padding:5px;
}

#calorieInput{
    display:flex;
    gap:0;
}

#calories{
    text-align:right;
    width:10%;
}

#legRow0{
    position:absolute;
    visibility:hidden;
}

#legForm{
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    align-items:start;
    height:350px;
    gap:10px;
    padding:0 0 0 10px;
    line-height:300%;
}

.legRowDelete{
    border:4px solid black;
    background:none;
    margin:8px 4px;
    display:flex;
    align-items:center;
    justify-content:center;

    img{
        max-width:20px;
    }
}

#addLegButton{
    background:none;
    border:none;
    align-self:center;
    margin-right:38px;
    img{
        max-width:45px;
    }
}

#addSession{
    font-size:40px;
    font-weight:bold;
    color:white;
    background-color:rgb(204, 104, 134);
    border:4px solid rgb(204, 104, 134);
    box-shadow:0 0 0 4px inset white;
    padding:20px 50px;
    align-self:center;
    margin-top:10px;
    margin-right:38px;
    width:85%;
}

#legsContainer{
    display:flex;
    flex-direction:column;
}

h3{
    margin-left:20px;
    margin-top:60px;
    font-size:40px;
    margin-bottom:10px;
}

#sessionForm{
    padding:40px 50px;
    width:80%;
    line-height:200%;
    font-size:25px;
}

.sessionDiv{
    display:flex;
    margin:20px 0;
}

#nameInput{
    font-size:45px;
    font-weight:bold;
    margin-bottom:20px;
    width:100%;
    border:2px solid white;
    border-bottom:2px solid black;
    padding:0 10px;
    border-radius:10px;

    &:focus{
        outline:none;
        border:2px solid white;
        border-bottom:2px solid rgb(204, 104, 134);
        background-color:rgb(255, 242, 245);
    }
}

#manageTemplates{
    border:4px solid black;
    font-size:15px;
    font-weight:bold;
    background-color:rgb(204, 104, 134);
    box-shadow:0 0 0 4px white inset;
    margin-bottom:-5px;
    margin-left:10px;
    padding:0 10px;
    color:white;

    // I followed advice from this post on aligning items: https://stackoverflow.com/a/49658476
    margin-left:auto;
}

#templatesHeading{
    display:flex;
    justify-content:center;

    h2{
        font-size:40px;
    }
}

#templatesDiv{
    overflow-y:scroll;
    height:475px;
    padding:0 250px
}

.templateRow{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    font-size:25px;
    line-height:350%;
    width:100%;
    justify-content:space-between;

    button{
        width:200px;
        font-size:20px;
        font-weight:bold;
        color:white;
        background-color:black;
        border:4px solid black;
        box-shadow:0 0 0 5px white inset;
        margin:5px 0;
    }
}

#manageTemplatesPopup{
    font-weight:bold;
    background-color:white;
    position:fixed;
    border-radius:20px;
    border:5px solid black;
    box-shadow:0 0 0 10px white;
    top:5%;
    bottom:5%;
    left:3%;
    right:3%;
    visibility:hidden;
}

@media only screen and (max-width:800){
    
    #sessionEntryPopup{
        border-radius:30px;
        left:5%;
        right:5%;
        display:flex;
        flex-direction:column;
    }
    
    .genericInputSession{
        border-width:3px;
        font-size:30px;
        border-bottom-width:3px;
    
        &:focus{
            border-width:3px;
            border-bottom-width:3px;
        }
    }

    #sessionCategory, #sessionTemplate{
        margin-left:20px;
    }

    .genericInputLeg{
        font-size:30px;
    }

    .legEntryRowMain{
        width:350px;
        height:70px;
        border:none;
        border-bottom:6px solid black;
    }

    .typeInput{
        width:120px;
    }

    option{
        font-size:15px;
    }

    .timeInput{
        width:140px;
        font-size:30px;
        span{
            margin-top:8px;
        }
    }

    .legTimeM{
        width:60%;
    }
    
    .legTimeS{
        width:40%
    }

    .legSpeed{
        width:34px;
    }

    .legIncline{
        width:96px;

        &::placeholder{
            font-size:20px;
        }
    }

    .inclineContainer{
        border:none;
        border-bottom:6px solid rgb(116, 119, 179);
        width:100px;
    }

    .legHeart{
        width:96px;
    
        &::placeholder{
            font-size:20px;
        }
    }

    .heartContainer{
        border:none;
        border-bottom:6px solid rgb(204, 104, 134);;
        width:100px;
    }

    .bpmUnits{
        font-size:18px;
        right:43px;
        top:-15px;
    }

    .degreeUnits{
        font-size:45px;
        right:18px;
        top:-7px;
    }

    .kmhUnits{
        font-size:17px;
        margin-top:12px;
        margin-left:2px;
    }

    .closeButton{
        img{
            max-width:70px;
        }
    }

    #tirednessLabel{
        margin-top:-15px;
        margin-bottom:10px;
    }

    #tirednessRating{
        height:100px;
        margin-top:5px;
    }

    .tirednessDiv{
        height:80px;
        width:80px;
    }

    .tiredness{
        width:50px;
        height:50px;
        border-width:7px;
        &:checked{
            width:80px;
            height:80px;
            box-shadow:inset 0 0 0 10px white;
        }
    }

    .templateSave{
        height:50px;
        font-size:36px;
    }

    #templateRadioBoundary{
        width:400px;
        margin-left:auto;
        margin-right:auto;
    }

    #templateRadioLabel{
        margin-top:25px;
        text-align:center;
    }

    #calorieInput{
        display:flex;
        justify-content:center;
    }

    #calories{
        text-align:center;
        width:12%;
        height:60px;
        font-size:40px;
    }

    #legForm{
        align-items:center;
        gap:10px;
        padding:0 0 0 10px;
        height:300px
    }

    .legRowDelete{
        border:none;
        margin:8px 0 8px 6px;
        img{
            max-width:22px;
        }
    }

    #addLegButton{
        margin-right:0;
        img{
            max-width:60px;
        }
    }

    #addSession{
        font-size:50px;
        position:fixed;
        bottom:105px;
        border-width:6px;
        box-shadow:0 0 0 6px inset white;
        padding:30px 50px;
        margin-right:0;
        width:80%;
    }

    h3{
        margin:12px auto 3px;
        font-size:45px;
    }

    #sessionForm{
        padding:20px 50px 10px 50px;
        width:570px;
        line-height:200%;
        font-size:30px;
    }

    .sessionDiv{
        margin:10px 0;
    }

    #nameInput{
        font-size:65px;
        margin-bottom:10px;
        width:500px;
        margin-left:-20px;
        border-width:3px;
        border-bottom-width:3px;
    
        &:focus{
            border-width:3px;
            border-bottom-width:3px;
        }
    }

    #manageTemplates{
        border-width:5px;
        font-size:23px;
        box-shadow:0 0 0 5px white inset;
        margin-bottom:-10px;
        margin-top:-60;
        margin-right:-10px;
        line-height:30px;
        padding:0 10px;
    }
    
    #manageTemplatesPopup{
        border-radius:30px;
        left:5%;
        right:5%;
    }

    #templatesHeading{
        h2{
            font-size:65px;
            margin:12px;
        }
    }
    
    #templatesDiv{
        height:1035px;
        padding:0 50px
    }
    
    .templateRow{
        font-size:40px;
    
        button{
            font-size:40px;
            margin:10px 0;

            span{
                font-size:0;
                visibility:hidden;
            }
        }
    }
}