#sessionEntryPopup{
    font-weight:bold;
    background-color:white;
    position:fixed;
    border-radius:20px;
    border:5px solid black;
    box-shadow:0 0 0 10px white;
    top:5%;
    bottom:5%;
    left:3%;
    right:3%;
    display:grid;
    column-gap:0;
    grid-template-columns: 1fr 1fr;
    visibility:hidden;
    ::-webkit-inner-spin-button {
        appearance:none;
    }

*::placeholder{
    color:rgb(138, 141, 155);
}
}

h3{
    margin-left:20px;
}

.genericInputSession{
    border:2px solid white;
    font-size:25px;
    font-weight:bold;
    border-bottom: 2px solid black;
    padding:0 10px;
    border-radius:10px;

    &:focus{
        outline:none;
        border:2px solid white;
        border-bottom: 2px solid rgb(204, 104, 134);
        background-color:rgb(255, 242, 245);
    }
}

#sessionCategory, #sessionTemplate{
    margin-left:10px;
    margin-bottom:-8px;
}

.genericInputLeg{
    font-size:23px;
    font-weight:bold;
    border:none;

    &:focus{
        outline:none;
        background-color:rgb(255, 242, 245);
    }
    
    &:disabled{
        background-color:rgb(240, 240, 240);
    }
}

.legEntryRow{
    display:flex;
}

.legEntryRowMain{
    display:flex;
    width:300px;
    justify-content:space-between;
    border:4px solid black;
}

.typeInput{
    width:120px;
    padding-left:10px;
}

option{
    font-size:20px;
    background-color:white;
    font-weight:bold;
}
    
.timeInput{
    display:flex;
    width:100px;
    font-size:14px;
}

.legTimeM, .legTimeS{
    width:50%;
}
        
.legSpeed{
    width:30px;
}

.legSpeed, .legTimeM{
    text-align:right;
}

.legIncline{
    text-align:center;
    width:84px;

    // https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder

    &::placeholder{
        font-size:18px;
    }
}

.inclineContainer{
    display:flex;
    border:4px solid rgb(116, 119, 179);
    width:88px;
}

.legHeart{
    text-align:center;
    width:84px;

    &::placeholder{
        font-size:18px;
    }
}

.heartContainer{
    display:flex;
    border:4px solid rgb(204, 104, 134);
    width:88px;
}

.bpmUnits{
    font-size:12px;
    position:relative;
    right:28px;
    top:-18px;
    color:rgb(204, 104, 134);
}

.degreeUnits{
    font-size:26px;
    position:relative;
    right:12px;
    top:-13px;
    color:rgb(116, 119, 179);
}

.kmhUnits{
    font-size:12px;
    padding-right:10px;
}

.closeButton{
    position:absolute;
    top:10px;
    right:10px;
    font-size:60px;
    font-weight:bold;
    border:none;
    background:none;
    img{
        max-width:50px;
    }
}

#tirednessLabel{
    display:flex;
    justify-content: space-between;
    margin-top:-30px;
    margin-bottom:10px;
}

#tirednessRating{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    height:80px;
}

.tirednessDiv{
    height:60px;
    width:60px;
    display:flex;
    align-items:center;
    justify-content:center;
}


// https://moderncss.dev/pure-css-custom-styled-radio-buttons/

.tiredness{
    appearance:none;
    width:20px;
    height:20px;
    border-radius:50%;
    border:5px solid;
    border-color:black;
    margin:0;
}

.tiredness:checked{
    width:40px;
    height:40px;
    margin-top:0;
    margin:0;
    box-shadow: inset 0 0 0 5px white;
}

#tiredness1{
    border-color:rgb(116, 119, 179);
    &:checked{
        background-color:rgb(116, 119, 179);
    }
}
#tiredness2{
    border-color:rgb(138, 115, 168);
    &:checked{
        background-color:rgb(138, 115, 168);
    }
}
#tiredness3{
    border-color:rgb(160, 112, 156);
    &:checked{
        background-color:rgb(160, 112, 156);
    }
}
#tiredness4{
    border-color:rgb(182, 108, 145);
    &:checked{
        background-color:rgb(182, 108, 145);
    }
}
#tiredness5{
    border-color:rgb(204, 104, 134);
    &:checked{
        background-color:rgb(204, 104, 134);
    }
}

.templateSave{
    width:50%;
    height:45px;
    background-color:white;
    border:none;
    font-size:25px;
    font-weight:bold;

    // https://www.w3schools.com/css/css_attribute_selectors.asp
    &[data-checked="true"]{
        background-color:rgb(204, 104, 134);
        color:white;
    }
}

#templateRadioBoundary{
    width:320px;
    border:5px solid black;
    padding:5px 15px 0px 15px;
    display:flex;
    justify-content:space-evenly;
    gap:5px;
    padding:5px;
}

.templateRadioLabel{
    position:relative;
    bottom:21px;
    right:115px;
}

#calorieInput{
    display:flex;
    gap:0;
}

#calories{
    text-align:right;
    width:10%;
}

#legRow0{
    position:absolute;
    visibility:hidden;
}

#legForm{
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    align-items:start;
    height:350px;
    gap:10px;
    padding:0 0 0 10px;
    line-height:300%;
}

.legRowDelete{
    font-size:20px;
    font-weight:bold;
    border:4px solid black;
    background:none;
    margin:8px 4px;
    display:flex;
    align-items:center;
    justify-content:center;

    img{
        max-width:20px;
    }
}

#addLegButton{
    background:none;
    border:none;
    align-self:center;
    margin-right:38px;
    img{
        max-width:45px;
    }
}

#addSession{
    font-size:40px;
    font-weight:bold;
    color:white;
    background-color:rgb(204, 104, 134);
    border:4px solid rgb(204, 104, 134);
    box-shadow:0 0 0 4px inset white;
    padding:20px 50px;
    align-self:center;
    margin-top:10px;
    margin-right:38px;
    width:85%;
}

#legsContainer{
    display:flex;
    flex-direction:column;
}

h3{
    margin-top:60px;
    font-size:40px;
    margin-bottom:10px;
}

#sessionForm{
    padding:40px 50px;
    width:80%;
    line-height:200%;
    font-size:25px;
}

.sessionDiv{
    display:flex;
    margin:20px 0;
}

#nameInput{
    font-size:45px;
    font-weight:bold;
    margin-bottom:20px;
    width:100%;
    border:2px solid white;
    border-bottom: 2px solid black;
    padding:0 10px;
    border-radius:10px;

    &:focus{
        outline:none;
        border:2px solid white;
        border-bottom: 2px solid rgb(204, 104, 134);
        background-color:rgb(255, 242, 245);
    }
}